<div class="flex align-items-center justify-content-end bg-cyan-100">
    <a pButton pRipple label="Crear Producto" icon="pi pi-user-plus" class="bg-cyan-600" [routerLink]="['/addusuario']">
    </a>
  </div>
  <div>
    <p-toast></p-toast>
  </div>

<p-table [value]="usuario">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Estado</th>       
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
        <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombreUsuario}}</td>
            <td>{{usuario.apellidoUsuario}}</td>
            <td>{{usuario.direccionUsuario}}</td>          
            <td>{{usuario.telefonoUsuario}}</td>
            <td>{{usuario.estadoUsuario}}</td>
            
        </tr> 
        <!-- <td>
            <a pButton pRipple icon="pi pi-sync" class="bg-cyan-600 mr-1" [routerLink]="['/productos/edit/', producto.id]">
            </a>
            <p-button icon="pi pi-sync" styleClass="p-button-success"></p-button> 
    
            <button type="button" pButton pRipple icon="pi pi-times" class="bg-cyan-600 mr-1"   (click)="eliminar(producto.id)">
            </button>

            
        </td> -->
    </ng-template>
</p-table>

